 @charset "utf-8";
/* waiguofang.com */

html, body { width:\100%; height:100%; padding:0; margin:0;font-family: Arial, "Microsoft YaHei";font-size:13px;  color:#555;}
div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, font {padding:0; margin:0; list-style-type: none; font-style:normal;}
img{border:0;}
input{font-family: "Microsoft YaHei";outline:medium !important; box-shadow:none !important;	}
input[type="button"]{ cursor:pointer; }

.none{ display:none;}
/*-------------------------a ----------------------------*/
a:link,a:visited { color:#555; text-decoration:none;} 
a:hover{ color:#333 ; text-decoration:underline;}
.red,a.red:link,a.red:visited{color: #ef0000; text-decoration: none;}
a.red:hover{ text-decoration: underline; color:#ef0000; }
.blue,a.blue:link,a.blue:visited{color: #0493e5; text-decoration: none;}
a.blue:hover{ text-decoration: underline; color:#0493e5; }
/*-------------------------TEXT ----------------------------*/
.text-center{ text-align:center;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.text-hidden{ display:block; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.img-responsive,.fimg-responsive img {display: block;max-width: 100%;height: auto;}
/*-------------------------float ----------------------------*/
.pull-left{ float: left;}
.pull-right{ float: right;}
.clearboth{ clear:both;zoom:1; /* IE */}
.clearboth:after {content:".";display:block;clear:both;height:0; line-height:0; font-size:0;}
.distable{ display:table;}
.distablediv{ display:table-cell; vertical-align:middle;}
/*-------------------------button ----------------------------*/
.btn { display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;}

.btn-default {color: #333; background-color: #fff; border-color: #e3e3e3;}
.btn-default:focus,.btn-default.focus {color: #333; background-color: #f9f9f9; border-color: #e3e3e3;}
.btn-default:hover { color: #333; background-color: #f9f9f9; border-color: #e3e3e3;}
.btn-default:active,.btn-default.active{ color: #333; background-color: #f9f9f9; border-color: #e3e3e3;}

body .btn-primary {color: #fff; background-color: #337ab7; border-color: #2e6da4;}
.btn-primary:focus,.btn-primary.focus {color: #fff; background-color: #286090; border-color: #122b40;}
.btn-primary:hover {color: #fff; background-color: #286090; border-color: #204d74;}
.btn-primary:active,.btn-primary.active{ color: #fff;background-color: #286090; border-color: #204d74;}

body .btn-test  {color: #fff; background-color: #d32b2b; border-color: #d32b2b;}
.btn-test:focus,.btn-test.focus {color: #fff; background-color: #d32b2b; border-color: #d32b2b;}
.btn-test:hover {color: #fff; background-color: #d32b2b; border-color: #d32b2b;}
.btn-test:active,.btn-test.active{ color: #fff;background-color: #d32b2b; border-color: #d32b2b;}


.btn-reset {color: #fff; background-color: #505050; border-color: #505050;}
.btn-reset:focus,.btn-reset.focus {color: #fff; background-color: #333; border-color: #333;}
.btn-reset:hover {color: #fff; background-color: #333; border-color: #505050;}
.btn-reset:active,.btn-reset.active,.open > .dropdown-toggle.btn-reset { color: #fff;background-color: #353535; border-color: #353535;}


.from_cont{ height:24px; padding:5px; background:#fff;width:calc(100% - 16px);}
.choiceclass {opacity: 0;cursor: pointer; position:absolute; right:0;  top:0; width:100%; height:100%;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);}
/* ---------------------------层  -------------------------------------------*/
.popup{ position:fixed; width:100%; z-index:99; text-align:center; height:100%;top:0; left:0;}
.popupbg{background-color: rgba(0, 0, 0, 0.6); }
.popupcontainer{ background:#fff; position:relative; min-width:400px; display:inline-block; text-align:left; }
.poputitlee{ height:40px; color:#fff; line-height:40px; padding:0 10px;background:#454545; }
.poputitlee_name{ font-size:18px;}
.poputitlee .close{ font-size:24px; line-height:40px; cursor:pointer;}
/* ---------------------------Form  -------------------------------------------*/
